@font-face{font-family:'Archivo Black';font-weight:400;src:url(fonts/ArchivoBlack-400.woff2) format('woff2')}
@font-face{font-family:'Archivo Narrow';font-weight:700;src:url(fonts/ArchivoNarrow-700.woff2) format('woff2')}
@font-face{font-family:'Caveat';font-weight:700;src:url(fonts/Caveat-700.woff2) format('woff2')}
@font-face{font-family:'Courier Prime';font-weight:400;src:url(fonts/CourierPrime-400.woff2) format('woff2')}
@font-face{font-family:'Courier Prime';font-weight:700;src:url(fonts/CourierPrime-700.woff2) format('woff2')}
@font-face{font-family:'Inter';font-weight:500;src:url(fonts/Inter-500.woff2) format('woff2')}
@font-face{font-family:'Inter';font-weight:600;src:url(fonts/Inter-600.woff2) format('woff2')}
@font-face{font-family:'Kalam';font-weight:400;src:url(fonts/Kalam-400.woff2) format('woff2')}
@font-face{font-family:'Kalam';font-weight:700;src:url(fonts/Kalam-700.woff2) format('woff2')}